SESSION_ID=your_session_id_here
PREFIX=.
OWNER_NAME=Brian Muigai
NUMERO_OWNER=0707528414
AUTO_READ_STATUS=yes
AUTO_DOWNLOAD_STATUS=no
BOT_NAME=QUANTUM-AI-MD
BOT_MENU_LINKS=https://telegra.ph/file/17c83719a1b40e02971e4.jpg
PUBLIC_MODE=yes
PM_PERMIT=yes
WARN_COUNT=3
PRESENCE=
PM_CHATBOT=no
STARTING_BOT_MESSAGE=yes
ANTI_DELETE_MESSAGE=no
